# Ignore DVC output files and large data files
data/raw/raw_data*           # Ignore all files in the raw data directory

data/processed/*     # Ignore all files in the processed data directory
!data/processed/*.dvc # Track .dvc files in the processed data directory

data/predicted/*     # Ignore all files in the predicted data directory
!data/predicted/*.dvc # Track .dvc files in the processed data directory

*.csv                     # Ignore all CSV files
*.pkl                     # Ignore all pickle files

# Ignore Python virtual environments
.venv/
venv

# Ignore DVC configuration files (keep .dvc/config and .dvcignore)
.dvc/tmp/*                # Ignore temporary files in the DVC directory
.dvc/cache/*              # Ignore cache files in the DVC directory
.dvc/*.dvc                # Keep the DVC configuration files

# Ignore history files
.history

# Ignore IDE specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/
/metrics

models/CNN.h5
models/model_architecture_summary.txt
